version: '3.7'
services:
  web:
    build:
      context: .
      dockerfile: ./docker/web/Dockerfile
    command: sh ./docker/web/cmd.sh
    environment:
      - TZ=Asia/Tokyo

    # Fix slow shutdown of web container
    # See: https://stackoverflow.com/a/62854251/1749551
    init: true
    volumes:
      - .:/opt
    ports:
      - "5000:5000"

    # INFO: Following two lines are necessary for the backtrace by pdb
    stdin_open: true
    tty: true
