[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pulp = "*"
numpy = "*"
flask = "*"
requests = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
# check = "gunicorn --check-config config.wsgi"
# flask = "flask --debug run --host 0.0.0.0"
flask = "python src/flask_app.py"
